<?xml version="1.0"?>

<model>
    <name>swarm_bot_blender</name>

    <version>1.0</version>

    <sdf version="1.8">swarm_bot_blender.sdf</sdf>

    <author>
        <name>Grecia Barragán</name>
    </author>

    <description>
        Swarm robot imported from Blender.
    </description>

</model>